body {
    background-color:steelblue;
    margin: 0 auto;
    text-align: center;
}

.button {
    background-color: midnightblue;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 5px;
    color: white;
}

.button:hover {
    background-color: mediumslateblue;
    color: black;
}

.chatName {
    display: flex;
    text-align: start;
}

.profileImage {
    border-radius: 50%;
    margin: 0px 10px;
}

.chat {
    background-color: white;
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
}

.messages {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    row-gap: 5px;
}

.message {
    background-color: lightskyblue ;
    padding: 5px 10px;
    border-radius: 10px;
}

.messageForm {
    display: flex;
    flex-direction: row;
}

.messageInput {
    display: flex;
    width: 70%;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 10px;
}

.messageButton {
    width: 60px;
    margin: 10px;
    border-radius: 15px;
    background-color: midnightblue;
    color: white;
}