body {
    background-color:steelblue;
    margin: 0 auto;
    text-align: center;
}

#textinput {
    width: 350px;
    height: 150px;
}

.uploadpic > input {
    display: none;
}

.file-input img {
    width:80px;
}

.pointer {
    cursor: pointer;
    width: 80px;
    height: 80px;
}

.button {
    background-color: midnightblue;
    border-radius: 25px;
    padding: 25px 125px;
    color: white;
}

.button button {
    cursor: pointer;
}

.button:hover {
    background-color: mediumslateblue;
    color: black;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.container {
    width: auto;
}

.container a {
    margin: 50px;
    display: inline-block;
}
