body {
    background-color:steelblue;
    margin: 0 auto;
    text-align: center;
}

.menyButtons {
    display: grid;
}

.button {
    background-color: midnightblue;
    border-radius: 25px;
    padding: 25px 125px;
    margin: 15px auto;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: mediumslateblue;
    color: black;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}