body {
    background-color:lightskyblue;
}

a:link {
    color:darkgreen;
}

a:visited {
    color: darkgreen;
}

a:hover {
    color: red;
    text-decoration: none;
}

#title {
    text-align: center;
}

#image {
    width: 500px;
    height: 500px;
}

.container {
    width: auto;
}

.text {
    width: 300px;
    float: left;
    padding-left: 15px;
}

.picture {
    width: 500px;
    height: 500px;
    float: right;
    padding-right: 15px;
}