body {
    background-color:steelblue;
    margin: 0 auto;
    text-align: center;
}

.button {
    background-color: midnightblue;
    border-radius: 25px;
    padding: 25px 125px;
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: mediumslateblue;
    color: black;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.container {
    width: auto;
}

.container a {
    margin: 50px;
    display: inline-block;
}
