*, *::after, *::before {
    box-sizing: border-box;
    font-family: gotham rounded, sans serif
}

body {
    background: linear-gradient(to-right, hsl(200, 100%, 50%), hsl(175, 100%, 50%));
}

.clock {widht}