body {
    background-color:steelblue;
    margin: 0 auto;
    text-align: center;
}

.button {
    background-color: midnightblue;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 5px;
    color: white;
}

.button button {
    cursor: pointer;
}

.button:hover {
    background-color: mediumslateblue;
    color: black;
}

.request {
    background-color: mediumslateblue;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    width: 400px;
    margin: 10px auto;
}
