body {
    background-color:steelblue;
    margin: 0 auto;
    text-align: center;
}

.button {
    background-color: midnightblue;
    border-radius: 15px;
    padding: 10px 30px;
    margin: 5px auto;
    color: white;
}

.button:hover {
    background-color: mediumslateblue;
    color: black;
    cursor: pointer;
}

a {
    margin: 0 auto;
}

.request {
    display: grid;
    background-color: rgb(102, 169, 245);
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    width: 400px;
    margin: 10px auto;
    padding: 10px 0px;
}
