body {
    background-color:steelblue;
}

.children {
    width: 200px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    border: solid;
    text-align: center;
    background-color: cornflowerblue;
    margin: 10px;
}

.container {
    width: auto;
    height: 250px;
    text-align: center;
}

#center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

a:link {
    color: #ffd400;
}

a:visited {
    color: #ffd400;
}

a:hover {
    color: crimson;
    text-decoration: none;
}